@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');

*, ::before, ::after{
    box-sizing: border-box;
    text-decoration: none;
    margin: 0;
    padding: 0;  
}

body{
    font-family: 'Montserrat', sans-serif;
    background-color: whitesmoke;
    font-weight: 400;
    font-size: 1.2rem;
}

header{
    background-color: white; 
    border-radius: 10px;
    box-shadow: 2px 2px 18px -10px rgba(0,0,0, .25); 
    margin: 3rem auto;
    padding: 3rem;
    max-width: 960px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    .logo{

        & img{    
            max-height: 50px;
            // filter: grayscale(100%) contrast(175%) brightness(150%);
            filter: grayscale(100%);
            vertical-align: bottom;
        }
        
    }
   

    nav{
        display: flex;
        width: auto;
        height: 100%;

        & div{        
            flex: 1 1 auto;       

            & a{            
                display: block;
                color: rgba(0,0,0, .3);
                padding: 1rem;
                border-bottom: 1px solid rgba(0,0,0, .25);
            }
            & a:hover {
                color: rgba(0,0,0, .8);
                border-bottom: 1px solid rgba(0,0,0, 1);
                
            }

        }
    }

}