@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');

*, ::before, ::after{
    box-sizing: border-box;
    text-decoration: none;
    margin: 0;
    padding: 0;  
}

body{
    font-family: 'Montserrat', sans-serif;
    background-color: whitesmoke;
}

header{
    background-color: silver;
    
    margin: 0 auto;
    padding-top: 1rem;
    max-width: 960px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    .logo img{    
        max-height: 50px;
        // filter: grayscale(100%) contrast(175%) brightness(150%);
        filter: grayscale(100%) brightness(.15);
        
    }

    nav{
        display: flex;
        width: auto;
        height: 100%;
        border-bottom: 1px solid rgba(0,0,0, .5);

        & div{        
            flex: 1 1 auto;
            & a{
                
                display: block;
                color: white;
                padding: 1rem;
            }
            & a:hover {
                color: rgba(0,0,0, .8);
            }

        }
    }

}