@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap");
*, ::before, ::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: whitesmoke;
  font-weight: 400;
  font-size: 1.2rem;
}

header {
  background-color: white;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.1);
  margin: 3rem auto;
  padding: 3rem;
  max-width: 960px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

header .logo img {
  max-height: 50px;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  vertical-align: bottom;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  height: 100%;
}

header nav div {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

header nav div a {
  display: block;
  color: rgba(0, 0, 0, 0.3);
  padding: 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

header nav div a:hover {
  color: rgba(0, 0, 0, 0.8);
  border-bottom: 1px solid black;
}
